### Imports & Set up file paths

In [18]:
import pandas as pd
import os

srcpath = os.path.split(os.path.abspath(''))[0]
rootpath = os.path.split(srcpath)[0]
datapath = os.path.join(srcpath, 'data')
rawpath = os.path.join(datapath, 'raw')
respath = os.path.join(rawpath, 'reservations_rec_gov/')
tabpath = os.path.join(rawpath, 'tables_rec_gov/')

### Generate lists of files in each raw/tables directory

In [13]:
list_tables = []
for root, dirs, file in os.walk(tabpath):
    list_tables.extend(file)

### Display attributes for all tables

In [17]:
for table in sorted(list_tables):
    df = pd.read_csv(tabpath + table, low_memory=False)
    print(f'{table}')
    print([col for col in df.columns])
    display(df.head())
    display(df.info())
    print('\n\n')

Activities_API_v1.csv
['ActivityID', 'ActivityParentID', 'ActivityName', 'ActivityLevel']

   ActivityID  ActivityParentID              ActivityName  ActivityLevel
0           4                 0              AUTO TOURING              0
1           5                 0                    BIKING              0
2           6                 0                   BOATING              0
3           7                 0                  CLIMBING              0
4           8                 0  HISTORIC & CULTURAL SITE              0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 4 columns):
ActivityID          128 non-null int64
ActivityParentID    128 non-null int64
ActivityName        128 non-null object
ActivityLevel       128 non-null int64
dtypes: int64(3), object(1)
memory usage: 4.1+ KB

None

CampsiteAttributes_API_v1.csv
['AttributeID', 'AttributeName', 'AttributeValue', 'EntityID', 'EntityType']

   AttributeID     AttributeName AttributeValue  EntityID EntityType
0            9  Campfire Allowed            Yes         1   Campsite
1           11      Checkin Time       12:00 PM         1   Campsite
2           12     Checkout Time       12:00 PM         1   Campsite
3           23    Driveway Entry       Parallel         1   Campsite
4           25   Driveway Length            NaN         1   Campsite

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741167 entries, 0 to 1741166
Data columns (total 5 columns):
AttributeID       int64
AttributeName     object
AttributeValue    object
EntityID          int64
EntityType        object
dtypes: int64(2), object(3)
memory usage: 66.4+ MB

None

Campsites_API_v1.csv
['CampsiteID', 'FacilityID', 'CampsiteName', 'CampsiteType', 'TypeOfUse', 'Loop', 'CampsiteAccessible', 'CampsiteLongitude', 'CampsiteLatitude', 'CreatedDate', 'LastUpdatedDate']

,CampsiteID,FacilityID,CampsiteName,CampsiteType,TypeOfUse,Loop,CampsiteAccessible,CampsiteLongitude,CampsiteLatitude,CreatedDate,LastUpdatedDate
0,1,232446,065,STANDARD NONELECTRIC,Overnight,LOOP C,False,-119.683914,37.550125,2014-05-02,2019-12-11
1,10,232446,075,STANDARD NONELECTRIC,Overnight,LOOP C,False,-119.684601,37.550136,2014-05-02,2019-12-12
2,100,232447,044,STANDARD NONELECTRIC,Overnight,UP1,False,-119.565040,37.737625,2014-05-02,2019-12-06
3,1000,232451,078,STANDARD NONELECTRIC,Overnight,Hodgdon Campground,False,-119.866541,37.799589,2014-05-02,2019-08-16
4,10000,232709,009,STANDARD ELECTRIC,Overnight,REYNOLDS CREEK,False,-97.264983,31.586164,2014-05-02,2019-08-16

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98274 entries, 0 to 98273
Data columns (total 11 columns):
CampsiteID            98274 non-null int64
FacilityID            98274 non-null int64
CampsiteName          98272 non-null object
CampsiteType          98274 non-null object
TypeOfUse             98274 non-null object
Loop                  97288 non-null object
CampsiteAccessible    98274 non-null bool
CampsiteLongitude     98274 non-null float64
CampsiteLatitude      98274 non-null float64
CreatedDate           98274 non-null object
LastUpdatedDate       98274 non-null object
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 7.6+ MB

None

EntityActivities_API_v1.csv
['ActivityID', 'ActivityDescription', 'ActivityFeeDescription', 'EntityID', 'EntityType']

   ActivityID ActivityDescription ActivityFeeDescription  EntityID EntityType
0           4                 NaN                    NaN        10   Rec Area
1           6                 NaN                    NaN        10   Rec Area
2           7                 NaN                    NaN        10   Rec Area
3           9                 NaN                    NaN        10   Rec Area
4          10                 NaN                    NaN        10   Rec Area

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64130 entries, 0 to 64129
Data columns (total 5 columns):
ActivityID                64130 non-null int64
ActivityDescription       32509 non-null object
ActivityFeeDescription    2468 non-null object
EntityID                  64130 non-null int64
EntityType                64130 non-null object
dtypes: int64(2), object(3)
memory usage: 2.4+ MB

None

Events_API_v1.csv
['EventID', 'EntityID', 'EntityType', 'EventName', 'Description', 'EventTypeDescription', 'EventFeeDescription', 'EventFrequencyDescription', 'EventScopeDescription', 'EventAgeGroup', 'EventRegistrationRequired', 'EventADAAccess', 'EventComments', 'EventEmail', 'EventURLAddress', 'EventURLText', 'EventStartDate', 'EventEndDate', 'SponsorName', 'SponsorClassType', 'SponsorPhone', 'SponsorEmail', 'SponsorURLAddress', 'SponsorURLText', 'LastUpdatedDate']

,EventID,EntityID,EntityType,EventName,Description,EventTypeDescription,EventFeeDescription,EventFrequencyDescription,EventScopeDescription,EventAgeGroup,...,EventURLText,EventStartDate,EventEndDate,SponsorName,SponsorClassType,SponsorPhone,SponsorEmail,SponsorURLAddress,SponsorURLText,LastUpdatedDate
0,10007854,2996,Asset,Get Into Your Sanctuary - annual event,NaN,NaN,https://sanctuaries.noaa.gov/visit/giys.html,https://sanctuaries.noaa.gov/visit/giys.html,NaN,False,...,2019-07-02,2019-07-02,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-02,NaN
1,10869,14529,Asset,Magnolia's Street Food,Thursday through Monday 9 a.m. to 4 p.m.,NaN,NaN,NaN,NaN,False,...,2017-03-01,2017-10-31,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-06,NaN
2,10870,14748,Asset,Bison Roundup,The Roundup consists of two separate events: T...,NaN,NaN,Park Events,NaN,False,...,0001-01-01,0001-01-01,NaN,NaN,http://stateparks.utah.gov/parks/antelope-isla...,NaN,NaN,NaN,2017-01-31,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 25 columns):
EventID                      3 non-null int64
EntityID                     3 non-null int64
EntityType                   3 non-null object
EventName                    3 non-null object
Description                  2 non-null object
EventTypeDescription         0 non-null float64
EventFeeDescription          1 non-null object
EventFrequencyDescription    2 non-null object
EventScopeDescription        0 non-null float64
EventAgeGroup                3 non-null bool
EventRegistrationRequired    0 non-null float64
EventADAAccess               2 non-null object
EventComments                2 non-null object
EventEmail                   2 non-null object
EventURLAddress              2 non-null object
EventURLText                 3 non-null object
EventStartDate               3 non-null object
EventEndDate                 0 non-null float64
SponsorName                  0 non-null float64
SponsorClassType             1 non-null object
SponsorPhone                 0 non-null float64
SponsorEmail                 0 non-null float64
SponsorURLAddress            0 non-null float64
SponsorURLText               3 non-null object
LastUpdatedDate              0 non-null float64
dtypes: bool(1), float64(9), int64(2), object(13)
memory usage: 707.0+ bytes

None

Facilities_API_v1.csv
['FacilityID', 'LegacyFacilityID', 'OrgFacilityID', 'ParentOrgID', 'ParentRecAreaID', 'FacilityName', 'FacilityDescription', 'FacilityTypeDescription', 'FacilityUseFeeDescription', 'FacilityDirections', 'FacilityPhone', 'FacilityEmail', 'FacilityReservationURL', 'FacilityMapURL', 'FacilityAdaAccess', 'FacilityLongitude', 'FacilityLatitude', 'Keywords', 'StayLimit', 'Reservable', 'Enabled', 'LastUpdatedDate']

,FacilityID,LegacyFacilityID,OrgFacilityID,ParentOrgID,ParentRecAreaID,FacilityName,FacilityDescription,FacilityTypeDescription,FacilityUseFeeDescription,FacilityDirections,...,FacilityReservationURL,FacilityMapURL,FacilityAdaAccess,FacilityLongitude,FacilityLatitude,Keywords,StayLimit,Reservable,Enabled,LastUpdatedDate
0,10000167,NaN,126,NaN,NaN,Tail Race Campground,The Tail Race Campground features three campsi...,Campground,NaN,Located 1/4 mile south of Fontenelle Reservoir...,...,NaN,NaN,NaN,-110.060900,42.024400,NaN,NaN,False,True,2019-09-25
1,10000170,NaN,131,10632,NaN,Railroad Buttes OHV Area,"<p>Railroad Buttes area is one of a few large,...",Facility,NaN,"<p>From Rapid City, SD east on Highway 44 abou...",...,NaN,NaN,NaN,-102.860300,43.905900,NaN,NaN,False,True,2019-09-25
2,10000183,NaN,131,82838,NaN,Diamond Fork Cabin,<p>The Historic Diamond Fork Guard Station is ...,Facility,NaN,<p>The recommended route to the Guard Station ...,...,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,False,True,2018-10-31
3,10000207,NaN,128,6627,NaN,Group Campground,Nestled behind Sunset Cinder Cone about .75 mi...,Campground,NaN,Nestled behind Sunset Cinder Cone about .75 mi...,...,NaN,NaN,NaN,-113.566944,43.472778,Group Campground,NaN,False,True,2019-09-25
4,10000309,NaN,126,NaN,NaN,Windy Point Campground,"Located on the crest of the Cerbat Mountains, ...",Campground,$8/night per site,"From Kingman, Arizona, travel 18 miles north o...",...,NaN,NaN,NaN,-114.160087,35.435956,kingman,14 days,False,True,2019-09-25

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14916 entries, 0 to 14915
Data columns (total 22 columns):
FacilityID                   14916 non-null int64
LegacyFacilityID             3694 non-null object
OrgFacilityID                14916 non-null int64
ParentOrgID                  13337 non-null object
ParentRecAreaID              12670 non-null float64
FacilityName                 14910 non-null object
FacilityDescription          14911 non-null object
FacilityTypeDescription      14916 non-null object
FacilityUseFeeDescription    1149 non-null object
FacilityDirections           8675 non-null object
FacilityPhone                5198 non-null object
FacilityEmail                2991 non-null object
FacilityReservationURL       123 non-null object
FacilityMapURL               296 non-null object
FacilityAdaAccess            3987 non-null object
FacilityLongitude            14916 non-null float64
FacilityLatitude             14916 non-null float64
Keywords                     4550 non-null object
StayLimit                    411 non-null object
Reservable                   14916 non-null bool
Enabled                      14916 non-null bool
LastUpdatedDate              14916 non-null object
dtypes: bool(2), float64(3), int64(2), object(15)
memory usage: 2.3+ MB

None

FacilityAddresses_API_v1.csv
['FacilityAddressID', 'FacilityID', 'FacilityAddressType', 'FacilityStreetAddress1', 'FacilityStreetAddress2', 'FacilityStreetAddress3', 'City', 'PostalCode', 'AddressStateCode', 'AddressCountryCode', 'LastUpdatedDate']

,FacilityAddressID,FacilityID,FacilityAddressType,FacilityStreetAddress1,FacilityStreetAddress2,FacilityStreetAddress3,City,PostalCode,AddressStateCode,AddressCountryCode,LastUpdatedDate
0,0a1d9348-9f9a-4f45-a7ab-d1fd56381ae1,621744,Default,82 East Dogwood,NaN,NaN,Moab,UT,84532,USA,2019-11-04
1,10000168,10000167,Default,Kemmerer Field Office,430 North Highway 189,NaN,Kemmerer,WY,83101,USA,2019-09-25
2,10000171,10000170,Default,NaN,NaN,NaN,NaN,SD,NaN,USA,2019-09-25
3,10000172,10000170,Default,NaN,NaN,NaN,NaN,NE,NaN,USA,2019-09-25
4,10000178,259167,Mailing,1450 Pennsylvania Avenue NW,NaN,NaN,Washington,DC,20230,USA,2019-11-04

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17783 entries, 0 to 17782
Data columns (total 11 columns):
FacilityAddressID         17783 non-null object
FacilityID                17783 non-null int64
FacilityAddressType       17783 non-null object
FacilityStreetAddress1    5462 non-null object
FacilityStreetAddress2    1275 non-null object
FacilityStreetAddress3    232 non-null object
City                      6629 non-null object
PostalCode                17704 non-null object
AddressStateCode          5658 non-null object
AddressCountryCode        17675 non-null object
LastUpdatedDate           17783 non-null object
dtypes: int64(1), object(10)
memory usage: 1.5+ MB

None

Links_API_v1.csv
['LinkID', 'LinkType', 'EntityID', 'EntityType', 'Title', 'Description', 'URL']

,LinkID,LinkType,EntityID,EntityType,Title,Description,URL
0,0000a89a9302a99679e891b60b365f44,Map,13900,Asset,Woodlands Trace Map,NaN,http://library.byways.org/a/static_maps/000/00...
1,0001974e71c4f8e01d6e6c63634a8f19,1,15056,Asset,BLM Idaho Twitter,NaN,http://www.twitter.com/BLMIdaho
2,0001fa474fefbd1ed1f23b1b8959f0c1,Official Web Site,5329,Asset,mm@cc.cc,NaN,http://www.michigandnr.com/parksandtrails/Park...
3,0004c070c6986795e511e8b9bd6ccede,Official Web Site,241272,Asset,Sawmill Gulch Campground,NaN,http://www.fs.usda.gov/recarea/arp/recarea/?re...
4,0004d79cd07f3cab1b2928af5898cbe2,Map,213131,Asset,SPILLWAY CAMPGROUND Map,NaN,http://publiclands.org/explore/reg_nat_forest....

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58364 entries, 0 to 58363
Data columns (total 7 columns):
LinkID         58364 non-null object
LinkType       58364 non-null object
EntityID       58364 non-null int64
EntityType     58364 non-null object
Title          57339 non-null object
Description    10925 non-null object
URL            58248 non-null object
dtypes: int64(1), object(6)
memory usage: 3.1+ MB

None

Media_API_v1.csv
['MediaID', 'MediaType', 'EntityID', 'EntityType', 'Title', 'Subtitle', 'Description', 'EmbedCode', 'Height', 'Width', 'URL', 'Credits', 'IsPrimary', 'IsPreview', 'IsGallery']

,MediaID,MediaType,EntityID,EntityType,Title,Subtitle,Description,EmbedCode,Height,Width,URL,Credits,IsPrimary,IsPreview,IsGallery
0,00000249-049f-4a1b-ad9a-c603a891dc99,Image,68609,Campsite,Hernando Point Campground Site 10,NaN,Hernando Point Campground Site 10,NaN,525,700,https://cdn.recreation.gov/public/2018/09/01/2...,Park Ranger Brandi Harms,False,True,False
1,0000655b-ee56-45fd-8a8e-ed74bae0ecde,Image,104354,Campsite,C-06,NaN,C-06,NaN,525,700,https://cdn.recreation.gov/public/2018/11/07/1...,Pro Sport,False,False,True
2,00009560-13d1-454b-a719-6e95b21eaa8b,Image,74820,Campsite,NaN,NaN,NaN,NaN,338,450,https://cdn.recreation.gov/public/2018/08/04/1...,NaN,False,False,True
3,00017ca0-f01b-411b-9ef7-015c2e4ce4cf,Image,47988,Campsite,Indian Creek Site # 131,NaN,Indian Creek Site # 131,NaN,340,1440,https://cdn.recreation.gov/public/2019/02/25/1...,USACE Mark Twain Lake,True,False,False
4,00018324-ef26-41a5-9189-78c4f74fb5e8,Image,68758,Campsite,Campsite #18,NaN,Campsite #18,NaN,525,700,https://cdn.recreation.gov/public/2019/06/26/2...,USFS,False,True,False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136807 entries, 0 to 136806
Data columns (total 15 columns):
MediaID        136807 non-null object
MediaType      136807 non-null object
EntityID       136804 non-null object
EntityType     136807 non-null object
Title          122557 non-null object
Subtitle       3171 non-null object
Description    102421 non-null object
EmbedCode      10 non-null object
Height         136807 non-null int64
Width          136807 non-null int64
URL            136791 non-null object
Credits        94120 non-null object
IsPrimary      136807 non-null bool
IsPreview      136807 non-null bool
IsGallery      136807 non-null bool
dtypes: bool(3), int64(2), object(10)
memory usage: 12.9+ MB

None

MemberTours_API_v1.csv
['MemberTourID', 'TourID', 'TourName']

   MemberTourID  TourID                       TourName
0      20608853      53          Combo Tour Individual
1      20632953      53          Combo Tour Individual
2      20633153      53          Combo Tour Individual
3      20636285      85               Combo Group Tour
4       2064253       3  FDR Home & Museum Group Tours

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
MemberTourID    27 non-null int64
TourID          27 non-null int64
TourName        27 non-null object
dtypes: int64(2), object(1)
memory usage: 776.0+ bytes

None

OrgEntities_API_v1.csv
['EntityID', 'OrgID', 'EntityType']

   EntityID  OrgID  EntityType
0        10    126    Rec Area
1       100    129    Rec Area
2  10000167    126  Campground
3  10000170    131    Facility
4  10000183    131    Facility

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18545 entries, 0 to 18544
Data columns (total 3 columns):
EntityID      18545 non-null object
OrgID         18545 non-null int64
EntityType    18545 non-null object
dtypes: int64(1), object(2)
memory usage: 434.8+ KB

None

Organizations_API_v1.csv
['OrgID', 'OrgType', 'OrgName', 'OrgImageURL', 'OrgURLText', 'OrgURLAddress', 'OrgAbbrevName', 'OrgJurisdictionType', 'OrgParentID', 'LastUpdatedDate']

,OrgID,OrgType,OrgName,OrgImageURL,OrgURLText,OrgURLAddress,OrgAbbrevName,OrgJurisdictionType,OrgParentID,LastUpdatedDate
0,126,Federal Agency,Bureau of Land Management,blm.gif,NaN,http://www.blm.gov,BLM,Federal,139,2018-06-26
1,127,Federal Agency,Fish and Wildlife Service,fws.gif,NaN,http://www.fws.gov,FWS,Federal,139,2018-06-26
2,128,Federal Agency,National Park Service,nps.gif,NaN,http://www.nps.gov,NPS,Federal,139,2018-06-26
3,129,Federal Agency,Bureau of Reclamation,bor.gif,NaN,http://www.usbr.gov,BOR,Federal,139,2018-06-26
4,130,Federal Agency,US Army Corps of Engineers,uasce.gif,NaN,http://www.usace.army.mil,USACE,Federal,162,2018-06-26

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 10 columns):
OrgID                  29 non-null int64
OrgType                29 non-null object
OrgName                29 non-null object
OrgImageURL            13 non-null object
OrgURLText             0 non-null float64
OrgURLAddress          23 non-null object
OrgAbbrevName          28 non-null object
OrgJurisdictionType    29 non-null object
OrgParentID            29 non-null int64
LastUpdatedDate        29 non-null object
dtypes: float64(1), int64(2), object(7)
memory usage: 2.4+ KB

None

PermitEntranceAttributes_API_v1.csv
['AttributeID', 'AttributeName', 'AttributeValue', 'EntityID', 'EntityType']

,AttributeID,AttributeName,AttributeValue,EntityID,EntityType
0,43,Important Information,Camping limited to designated U.S.F.S. sites.,1,PermitEntrance
1,43,Important Information,"Hiking only, canoeing not allowed. Camping lim...",10,PermitEntrance
2,43,Important Information,"Boat in is possible for these sites, but you w...",100,PermitEntrance
3,43,Important Information,For information regarding the walk-in availabi...,102,PermitEntrance
4,43,Important Information,Non-motorized boat in only site. Has a bear bo...,103,PermitEntrance

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 5 columns):
AttributeID       590 non-null int64
AttributeName     590 non-null object
AttributeValue    590 non-null object
EntityID          590 non-null int64
EntityType        590 non-null object
dtypes: int64(2), object(3)
memory usage: 23.2+ KB

None

PermitEntranceZones_API_v1.csv
['PermitEntranceZoneID', 'PermitEntranceID', 'Zone']

   PermitEntranceZoneID  PermitEntranceID        Zone
0                 52558               155  Mt Whitney
1                 52559               156  Mt Whitney
2                 52560               157  Mt Whitney
3                 52561               158  Mt Whitney
4                 52562               159  Mt Whitney

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 3 columns):
PermitEntranceZoneID    399 non-null int64
PermitEntranceID        399 non-null int64
Zone                    399 non-null object
dtypes: int64(2), object(1)
memory usage: 9.5+ KB

None

PermitEntrances_API_v1.csv
['PermitEntranceID', 'PermitEntranceType', 'FacilityID', 'PermitEntranceName', 'PermitEntranceDescription', 'District', 'Town', 'PermitEntranceAccessible', 'Longitude', 'Latitude', 'CreatedDate', 'LastUpdatedDate']

,PermitEntranceID,PermitEntranceType,FacilityID,PermitEntranceName,PermitEntranceDescription,District,Town,PermitEntranceAccessible,Longitude,Latitude,CreatedDate,LastUpdatedDate
0,1,Entry Point,233396,Duncan Lake (op),Method of travel is paddle. Access is from Wes...,Gunflint District,Grand Marais,False,-90.439444,48.062500,2014-05-02,2018-06-14
1,10,Entry Point,233396,Partridge Lake Trail (oh),"Method of travel is hiking only (if paddling, ...",Gunflint District,Grand Marais,False,-90.496960,48.077964,2014-05-02,2018-06-14
2,100,02 Leigh Lake,249986,LL06,"Three small sites surrounding Bearpaw Lake, ju...",NaN,NaN,False,0.000000,0.000000,2014-05-02,2018-06-14
3,101,Non Zone South,249986,PSS11,Designated as walk-up only for use during the ...,NaN,NaN,False,0.000000,0.000000,2014-05-02,2018-06-14
4,102,01 Jackson Lake,249986,JL07,For information regarding the walk-in availabi...,NaN,NaN,False,0.000000,0.000000,2014-05-02,2018-06-14

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 12 columns):
PermitEntranceID             985 non-null int64
PermitEntranceType           985 non-null object
FacilityID                   985 non-null int64
PermitEntranceName           985 non-null object
PermitEntranceDescription    985 non-null object
District                     406 non-null object
Town                         331 non-null object
PermitEntranceAccessible     985 non-null bool
Longitude                    985 non-null float64
Latitude                     985 non-null float64
CreatedDate                  985 non-null object
LastUpdatedDate              985 non-null object
dtypes: bool(1), float64(2), int64(2), object(7)
memory usage: 85.7+ KB

None

PermittedEquipment_API_v1.csv
['CampsiteID', 'EquipmentName', 'MaxLength']

   CampsiteID  EquipmentName      MaxLength
0           1            0.0           Tent
1           1           27.0             RV
2           1           18.0        Trailer
3           1           27.0  PICKUP CAMPER
4           1           18.0         POP UP

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315445 entries, 0 to 315444
Data columns (total 3 columns):
CampsiteID       315445 non-null int64
EquipmentName    315445 non-null float64
MaxLength        315445 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 7.2+ MB

None

RecAreaAddresses_API_v1.csv
['RecAreaAddressID', 'RecAreaID', 'RecAreaAddressType', 'RecAreaStreetAddress1', 'RecAreaStreetAddress2', 'RecAreaStreetAddress3', 'City', 'PostalCode', 'AddressStateCode', 'AddressCountryCode', 'LastUpdatedDate']

,RecAreaAddressID,RecAreaID,RecAreaAddressType,RecAreaStreetAddress1,RecAreaStreetAddress2,RecAreaStreetAddress3,City,PostalCode,AddressStateCode,AddressCountryCode,LastUpdatedDate
0,10000411,10000410,Default,Prineville District Office,3050 NE 3rd Street,NaN,Prineville,OR,97754,USA,2019-09-25
1,10001001,10001000,Default,Kingman Field Office,2755 Mission Boulevard,NaN,Kingman,AZ,86401,USA,2019-09-25
2,10001025,10001024,Default,Kingman Field Office,2755 Mission Boulevard,NaN,Kingman,AZ,86401,USA,2019-09-25
3,10001052,10001051,Default,Kingman Field Office,2755 Mission Boulevard,NaN,Kingman,AZ,86401,USA,2019-09-25
4,10003302,10003301,Default,22 Bear Creek Lake Rd.,NaN,NaN,Cumberland,VA,23040,USA,2019-09-25

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4016 entries, 0 to 4015
Data columns (total 11 columns):
RecAreaAddressID         4016 non-null int64
RecAreaID                4016 non-null int64
RecAreaAddressType       4016 non-null object
RecAreaStreetAddress1    3488 non-null object
RecAreaStreetAddress2    1671 non-null object
RecAreaStreetAddress3    472 non-null object
City                     3399 non-null object
PostalCode               4014 non-null object
AddressStateCode         3300 non-null object
AddressCountryCode       3767 non-null object
LastUpdatedDate          4016 non-null object
dtypes: int64(2), object(9)
memory usage: 345.2+ KB

None

RecAreaFacilities_API_v1.csv
['RecAreaID', 'FacilityID']

   RecAreaID  FacilityID
0      16669    10000305
1       2782    10001053
2       2782    10001055
3        287    10001419
4        286    10001432

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20039 entries, 0 to 20038
Data columns (total 2 columns):
RecAreaID     20039 non-null int64
FacilityID    20039 non-null int64
dtypes: int64(2)
memory usage: 313.2 KB

None

RecAreas_API_v1.csv
['RecAreaID', 'OrgRecAreaID', 'ParentOrgID', 'RecAreaName', 'RecAreaDescription', 'RecAreaUseFeeDescription', 'RecAreaDirections', 'RecAreaPhone', 'RecAreaEmail', 'RecAreaReservationURL', 'RecAreaMapURL', 'RecAreaLongitude', 'RecAreaLatitude', 'StayLimit', 'Keywords', 'Reservable', 'Enabled', 'LastUpdatedDate']

,RecAreaID,OrgRecAreaID,ParentOrgID,RecAreaName,RecAreaDescription,RecAreaUseFeeDescription,RecAreaDirections,RecAreaPhone,RecAreaEmail,RecAreaReservationURL,RecAreaMapURL,RecAreaLongitude,RecAreaLatitude,StayLimit,Keywords,Reservable,Enabled,LastUpdatedDate
0,10,NaN,126,White Mountains National Recreation Area,"Located just an hour's drive from Fairbanks, A...",NaN,Begin your trip at the BLM office or the Alask...,800-437-7021 or 907-474-2200,EasternInterior@blm.gov,https://www.recreation.gov/camping/white-moun...,https://www.blm.gov/maps,-147.214000,65.546000,10 days,"White Mountains,",False,True,2019-09-25
1,100,NaN,129,Elephant Butte Reservoir,"<A HREF=""http://www.usbr.gov/projects/Facility...",NaN,"Take I-25 north from El Paso, Texas, about 125...",575-744-5923,kay.dunlap@state.nm.us,NaN,http://www.emnrd.state.nm.us/PRD/elephant.htm,-107.207770,33.176610,NaN,NaN,False,True,2019-09-25
2,10000410,NaN,126,Lower Crooked River Back Country Byway,"Just 40 minutes east of the hubbub of Bend, Or...",NaN,"<u>From Bend, Oregon</u>: Drive 33.3 miles eas...",541-416-6700,BLM_OR_PR_Mail@blm.gov,NaN,https://flic.kr/p/CNdZtg,-120.732940,43.850390,14 Days,"Prineville, Fishing, Rafting, Camping, Day Use...",False,True,2019-09-25
3,10001000,NaN,126,Monolith Garden Trail,The Monolith Garden Trail is an easy to modera...,NaN,Coyote Pass Trailhead: Follow I-40W to US-93 N...,(928) 718-3700,BLM_AZ_KFOWEB@blm.gov,NaN,https://www.avenzamaps.com/maps/908826/blm-ari...,-114.096861,35.204457,NaN,"kingman, cerbat foothills recreation area, cfra",False,True,2019-09-25
4,10001024,NaN,126,Cerbat Foothills Recreation Area (CFRA),"The 11,300 acre Cerbat Foothills Recreation Ar...",NaN,Coyote Pass Trailhead: Follow I-40W to US-93 N...,(928) 718-3700,BLM_AZ_KFOWEB@blm.gov,NaN,https://www.avenzamaps.com/maps/908826/blm-ari...,-114.096711,35.204400,NaN,kingman,False,True,2019-09-25

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3689 entries, 0 to 3688
Data columns (total 18 columns):
RecAreaID                   3689 non-null object
OrgRecAreaID                1052 non-null object
ParentOrgID                 3689 non-null int64
RecAreaName                 3685 non-null object
RecAreaDescription          3668 non-null object
RecAreaUseFeeDescription    83 non-null object
RecAreaDirections           3439 non-null object
RecAreaPhone                3604 non-null object
RecAreaEmail                2554 non-null object
RecAreaReservationURL       74 non-null object
RecAreaMapURL               825 non-null object
RecAreaLongitude            3689 non-null float64
RecAreaLatitude             3689 non-null float64
StayLimit                   284 non-null object
Keywords                    1034 non-null object
Reservable                  3689 non-null bool
Enabled                     3689 non-null bool
LastUpdatedDate             3689 non-null object
dtypes: bool(2), float64(2), int64(1), object(13)
memory usage: 468.5+ KB

None

TourAttributes_API_v1.csv
['AttributeID', 'AttributeName', 'AttributeValue', 'EntityID', 'EntityType']

,AttributeID,AttributeName,AttributeValue,EntityID,EntityType
0,1,Accessibility,No,100,Tour
1,3,Amenities,Restrooms available at 1.1 miles and 2.5 miles.,100,Tour
2,19,Directions To Tour,All tours begin at the Visitor Center.,100,Tour
3,21,Distance (miles),4,100,Tour
4,43,Important Information,There are two brief restroom stops. Comfortabl...,100,Tour

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 5 columns):
AttributeID       1905 non-null int64
AttributeName     1905 non-null object
AttributeValue    1905 non-null object
EntityID          1905 non-null int64
EntityType        1905 non-null object
dtypes: int64(2), object(3)
memory usage: 74.5+ KB

None

Tours_API_v1.csv
['TourID', 'FacilityID', 'TourName', 'TourType', 'TourDescription', 'TourDuration', 'TourAccessible', 'CreatedDate', 'LastUpdatedDate']

,TourID,FacilityID,TourName,TourType,TourDescription,TourDuration,TourAccessible,CreatedDate,LastUpdatedDate
0,100,234640,Grand Avenue,Cave Tour,"Dramatic cave changes, dry cave vs. damp cave,...",240,False,2014-05-02,2018-06-14
1,1006,250029,White House Easter Egg Roll,Historic Tour,White House Easter Egg Roll,0,True,2019-01-01,2018-01-01
2,1007,250029,White House Easter Egg Roll,Historic Tour,White House Easter Egg Roll,0,True,2019-01-01,2018-01-01
3,1008,234787,Sunrise Photo Tour,Historic Tour,Sunrise Photo Tour,60,True,2019-02-11,2019-02-11
4,1009,234636,Douglass Home Group Tour,Historic Tour,Tour the Victorian mansion that was the last r...,30,True,2019-02-13,2019-02-13

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 9 columns):
TourID             273 non-null int64
FacilityID         273 non-null int64
TourName           273 non-null object
TourType           273 non-null object
TourDescription    269 non-null object
TourDuration       273 non-null int64
TourAccessible     273 non-null bool
CreatedDate        273 non-null object
LastUpdatedDate    273 non-null object
dtypes: bool(1), int64(3), object(5)
memory usage: 17.5+ KB

None

### Impressions
* Most tables aren't usefull for our questions
* `Facilities_API.csv` has:
    * Facility type description
    * Lat + Long
    * Stay limit
    * Reservable

In [19]:
df = pd.read_csv(tabpath + 'Facilities_API_v1.csv', low_memory=False)

In [23]:
x = df[df[]]
print(x['FacilityID'])

0        10000167
1        10000170
2        10000183
3        10000207
4        10000309
           ...
14911      621744
14912       72192
14913       72417
14914       72481
14915       74466
Name: FacilityID, Length: 14916, dtype: int64